{% extends 'base.html' %}

{% block title %}Register page{% endblock %}

{% block main_content %}
    <form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
     {% for field in form %}
         <div>
             {{ field.errors }}
             {{ field.label_tag }} {{ field }}
             {% if field.help_text %}
                 <p>{{ field.help_text }}</p>
             {% endif %}
         </div>
         <br>
     {% endfor %}
      <input type="submit" value="Register">
    </form>
{% endblock %}